<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=500, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "A Fake Artist Goes To New York", suffix: " · Fake Artist" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script>
      window.userToken = "<%= assigns[:user_token] %>";
    </script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <h1>A Fake Artist Goes To New York</h1>
        <a href="/"><img src="<%= Routes.static_path(@conn, "/images/artist.png") %>" /></a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
