<%= if @state in [:initialized, :ready] do %>
<div class="alert alert-info" id="send-link">
  Send game link to friends:
  <input type="text" value="<%= FakeartistWeb.Router.Helpers.url(FakeartistWeb.Endpoint)%><%= Routes.game_join_path(@socket, :join, @token) %>" id="link"/>
  <button onclick="document.querySelector('#link').select();document.execCommand('copy');">Copy</button>
</div>
<% end %>
<% # category input modal %>
<%= if @state == :selecting_category and Player.question_master?(@player) do %>
<div class="phx-modal">
  <div class="phx-modal-content">
    <h2>Please select a category and subject</h2>
      <%= f = form_for @category_changeset, "#",
        id: "category-form",
        phx_submit: "select_category",
        phx_change: "validate_category" %>

        <div class="form-group">
          <%= label f, :category %>
          <%= text_input f, :category %>
        </div>
        <div class="form-group">
          <%= label f, :subject %>
          <%= text_input f, :subject %>
        </div>
    <%= submit "Submit", phx_disable_with: "Please wait...", disabled: not @category_submit_enabled %>
    </form>
  </div>
</div>
<% end %>
<% # results modal %>
<%= if @state == :waiting_for_next_game and @results_shown do %>
  <%= live_component @socket, ResultsModal, results: @results, guess_correct: @guess_correct, fake_guess: @fake_guess, subject: @subject %>
<% end %>
<% # vote modal %>
<%= if @state == :voting do %>
  <%= live_component @socket, VoteModal, players: @players, my_id: @player_id, guess_correct: @guess_correct, fake_guess: @fake_guess %>
<% end %>
<div id="game" data-token="<%= @token %>">
  <div id="player-list">
    <ul>
      <%= for player <- @players do %>
      <li>
        <span class="color" style="background-color: <%= player.color %>">&nbsp;&nbsp;</span>
        <%= player.name %>
        <%= if player.question_master? do %>&nbsp;&nbsp;👑<% end %>
        <%= if player.current_player? do %>&nbsp;&nbsp;✏️<% end %>
        <span class="score"><%= player.score %></span>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="draw small mode-draw" id="draw" phx-hook="draw">
    <canvas id="can" width="500" height="600" phx-hook="canvas"></canvas>
    <div id="fake-cursor" style="display: none; background-color: <%= @my_color %>"></div>
    <div class="draw-options">
      <button class="size-choose small" data-size="small"></button>
      <button class="size-choose medium" data-size="medium"></button>
      <button class="size-choose large" data-size="large"></button>
      <button class="pen-choose draw" data-mode="draw" style="margin-left: 20px;">✏️</button>
      <button class="pen-choose erase" data-mode="erase">🧽</button>
    </div>
  </div>
  <div class="side">
    <div id="config">
    <%= render_config_div(assigns, @state) %>
    </div>
    <div class="state <%= @state %>">
    <%= render_state_div(assigns, @state) %>
    </div>
    <div id="stats">
    <%= render_stats_div(assigns, @state) %>
    </div>
    <%= if @state == :drawing and @i_am_fake do %>
    <div class="rounded-box">
      Enter your guess here:
      <form action="#" phx-change="fake_guess_changed" onsubmit="return false">
        <input type="text" value="<%= @fake_guess %>" name="guess" />
      </form>
    </div>
    <% end %>
    <div id="messages" class="rounded-box">
      <div id="message-container" phx-hook="chat">
      <%= for message <- @messages do %>
        <%= case message do %>
          <% {:join, color, player} -> %>
            <p><span style="color:<%= color %>"><%= player %> joined</span></p>
          <% {:message, player, text} -> %>
            <p><span><%= player %> </span><%= text %></p>
        <% end %>
      <% end %>
      </div>
      <div id="message-input">
      <%= f = form_for :chat_input, "#",
        id: "chat-input",
        phx_submit: "send_message",
        phx_change: "chat_input_changed" %>
        <%= text_input f, :message %>
        <%= submit "Send" %>
        </form>
      </div>
    </div>
  </div>
</div>